# Forecast sales of Rossmann Pharmaceuticals Store

### Project  
* Rossmann operates over 3,000 drug stores in 7 European countries. This project tasked with predicting their daily sales for up to six weeks in advance. Store sales are influenced by many factors, including promotions, competition, school and state holidays, seasonality, and locality.

### Data
* Data Taken from: Rossmann Store Sales[https://www.kaggle.com/competitions/rossmann-store-sales/data]

In [1]:
# import Basic libraries 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
import warnings
warnings.filterwarnings('ignore')

In [2]:
#get working directory 
import os, sys
sys.path.append(os.path.abspath('..'))

In [3]:
from scripts.data_summary import summary_statistics
from scripts.data_generator import load_store_data, load_train_data, sort_train_data, merge_data

### Load Data

In [4]:
train_data = load_train_data('../data/train.csv', 'Date')
store_data = load_store_data('../data/store.csv')

Data Preview

In [5]:
# Preview of Train data
train_data.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [6]:
# preview of store Data
store_data.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

Summary statistics of the Data

In [7]:
# Train Data summary Statistics
summary_statistics(train_data)

Shape of the Data
(1017209, 9)


data Summary
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  datetime64[ns]
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 69.8+ MB
None


Descriptive analysis for numerical Column
              Store     DayOfWeek                           Date  \
count  1.017209e+06  1.017209e+06                        1017209
mean   5.584297e+02  3.998341e+00  2014-04-11 01:30:42.846061824
min    1.000000e+00  1.000000e+00            2013-01-01 00:00:00
25%    2.800000e+02  2.000000e+00            2013-08-17 00:00:00
50%    5.580000e+02  4.000000e+00            2014-04-02 00:00:00
75%    8.380000e+02  6.000000e+00            2014-12-12 00:00:00
max    1.115000e+03  7.000000e+00            2015-07-31 00:00:00
std    3.219087e+02  1.997391e+00                            NaN

              Sales     Customers          Open         Promo  SchoolHoliday
count  1.017209e+06  1.017209e+06  1.017209e+06  1.017209e+06   1.017209e+06
mean   5.773819e+03  6.331459e+02  8.301067e-01  3.815145e-01   1.786467e-01
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00   0.000000e+00
25%    3.727000e+03  4.050000e+02  1.000000e+00  0.000000e+00   0.000000e+00
50%    5.744000e+03  6.090000e+02  1.000000e+00  0.000000e+00   0.000000e+00
75%    7.856000e+03  8.370000e+02  1.000000e+00  1.000000e+00   0.000000e+00
max    4.155100e+04  7.388000e+03  1.000000e+00  1.000000e+00   1.000000e+00
std    3.849926e+03  4.644117e+02  3.755392e-01  4.857586e-01   3.830564e-01


Descriptive analysis for Object Data
       StateHoliday
count       1017209
unique            4
top               0
freq         986159


Check for Missing Value
Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [8]:
# store data summary
summary_statistics(store_data)

Shape of the Data
(1115, 10)


data Summary
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB
None


Descriptive analysis for numerical Column
            Store  CompetitionDistance  CompetitionOpenSinceMonth  \
count  1115.00000          1112.000000                 761.000000
mean    558.00000          5404.901079                   7.224704
std     322.01708          7663.174720                   3.212348
min       1.00000            20.000000                   1.000000
25%     279.50000           717.500000                   4.000000
50%     558.00000          2325.000000                   8.000000
75%     836.50000          6882.500000                  10.000000
max    1115.00000         75860.000000                  12.000000

       CompetitionOpenSinceYear       Promo2  Promo2SinceWeek  Promo2SinceYear
count                761.000000  1115.000000       571.000000       571.000000
mean                2008.668857     0.512108        23.595447      2011.763573
std                    6.195983     0.500078        14.141984         1.674935
min                 1900.000000     0.000000         1.000000      2009.000000
25%                 2006.000000     0.000000        13.000000      2011.000000
50%                 2010.000000     1.000000        22.000000      2012.000000
75%                 2013.000000     1.000000        37.000000      2013.000000
max                 2015.000000     1.000000        50.000000      2015.000000


Descriptive analysis for Object Data
       StoreType Assortment    PromoInterval
count       1115       1115              571
unique         4          3                3
top            a          a  Jan,Apr,Jul,Oct
freq         602        593              335


Check for Missing Value
PromoInterval                544
Promo2SinceYear              544
Promo2SinceWeek              544
CompetitionOpenSinceYear     354
CompetitionOpenSinceMonth    354
CompetitionDistance            3
StoreType                      0
Store                          0
Assortment                     0
Promo2                         0
dtype: int64

### Clean Data

#### Train Data

Check for missing Data

In [9]:
train_data.isnull().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [10]:
# Check Data duplication
train_data.duplicated().value_counts()

False    1017209
Name: count, dtype: int64

In [11]:
# Check Numerical And Categorical
cat_col = [col for col in train_data.columns if train_data[col].dtype == 'object']
print('Categorical columns: ', cat_col)
num_col = [col for col in train_data.columns if train_data[col].dtype != 'object']
print("Numerical colums: ", num_col)

Categorical columns:  ['StateHoliday']
Numerical colums:  ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo', 'SchoolHoliday']

**Sort Train Data first by Store and Then by Data**

In [12]:
train_data.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [13]:
# Sort data first by store then by date
sort_train = sort_train_data(train_data)

In [26]:
sort_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
1016095,1,2,2013-01-01,0,0,0,0,a,1
1014980,1,3,2013-01-02,5530,668,1,0,0,1
1013865,1,4,2013-01-03,4327,578,1,0,0,1
1012750,1,5,2013-01-04,4486,619,1,0,0,1
1011635,1,6,2013-01-05,4997,635,1,0,0,1

#### Store Data

In [15]:
store_data.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

Check missing Value

In [16]:
store_data.isnull().sum().sort_values(ascending=False)

PromoInterval                544
Promo2SinceYear              544
Promo2SinceWeek              544
CompetitionOpenSinceYear     354
CompetitionOpenSinceMonth    354
CompetitionDistance            3
StoreType                      0
Store                          0
Assortment                     0
Promo2                         0
dtype: int64

Drop Column non-interest columns

In [17]:
non_interest_col = ['PromoInterval', 'Promo2SinceYear', 'Promo2SinceWeek', 'CompetitionOpenSinceYear', 'CompetitionOpenSinceMonth']
store_data.drop(columns = [col for col in non_interest_col if col in store_data.columns], inplace = True)

In [18]:
store_data.head()

   Store StoreType Assortment  CompetitionDistance  Promo2
0      1         c          a               1270.0       0
1      2         a          a                570.0       1
2      3         a          a              14130.0       1
3      4         c          c                620.0       0
4      5         a          a              29910.0       0

In [19]:
# check missing Value in cleared Store data
store_data.isnull().sum()

Store                  0
StoreType              0
Assortment             0
CompetitionDistance    3
Promo2                 0
dtype: int64

In [20]:
# Fill Missing value in CompetitionDistance by mean Value
store_data['CompetitionDistance'].fillna(store_data['CompetitionDistance'].mean(), inplace=True)
store_data['CompetitionDistance'].isnull().sum()

np.int64(0)

### Merge Store Data and Train Data
* Merge the two data to get more information at once

In [21]:
# Merge Store and Train Data on store
processed_data = merge_data(train_data, store_data)

In [22]:
processed_data.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,Promo2
0,1,2,2013-01-01,0,0,0,0,a,1,c,a,1270.0,0
1,1,3,2013-01-02,5530,668,1,0,0,1,c,a,1270.0,0
2,1,4,2013-01-03,4327,578,1,0,0,1,c,a,1270.0,0
3,1,5,2013-01-04,4486,619,1,0,0,1,c,a,1270.0,0
4,1,6,2013-01-05,4997,635,1,0,0,1,c,a,1270.0,0

In [23]:
# Check missing Value in Processed Data
processed_data.isnull().sum()

Store                  0
DayOfWeek              0
Date                   0
Sales                  0
Customers              0
Open                   0
Promo                  0
StateHoliday           0
SchoolHoliday          0
StoreType              0
Assortment             0
CompetitionDistance    0
Promo2                 0
dtype: int64

In [24]:
# Save Processed data 
processed_data.to_csv('../data/processed_data.csv', index=False)